/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

:root {
  --font-family: "Inter", sans-serif;

  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}
/* Variables */

/* Globals */
* {
}
body {
  /* font-family: var(--font-family); */
}
img,
picture {
  max-width: 100%;
}
p {
  font-size: 15px;
  line-height: 1.7;
}
/* Globals */

/* Header */
nav .nav-link:hover {
  color: var(--Soft-red);
}
/* Header */

/* Main */
main img {
  height: 300px;
}
main h1 {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 20px;
}
main p {
}
main a.btn {
  background: var(--Soft-red);
  color: var(--Off-white);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;
  letter-spacing: 3px;
  padding: 12px 30px;
  margin-block: 10px 60px;
}
main a.btn:hover {
  background: var(--Very-dark-blue);
  color: var(--Off-white);
}
aside {
  background: var(--Very-dark-blue);
  padding: 20px;
}
aside h2 {
  color: var(--Soft-orange);
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 2rem;
}
aside h3 {
  margin-top: 10px;
  cursor: pointer;
}
aside h3:hover {
  color: var(--Soft-orange);
}
aside p {
  margin-bottom: 2rem;
}
aside hr {
  background: var(--Off-white);
  margin-bottom: 25px;
}
/* Main */

/* Features */
#features .box {
  height: 130px;
}
#features img {
  width: 100px;
  /* height: 130px; */
}
#features h3 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--Grayish-blue);
}
#features h4 {
  font-weight: 400;
  cursor: pointer;
}
#features h4:hover {
  color: var(--Soft-red);
}
/* Features */

/*  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
